requests
pycryptodome
curl_cffi
aiohttp
certifi
browser_cookie3
websockets
js2py
flask
flask-cors
typing-extensions
PyExecJS
duckduckgo-search
nest_asyncio
waitress
werkzeug
loguru
tiktoken
pillow
platformdirs
numpy
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability